image: wearejust/docker-compose:latest

stages:
  - build
  - prepare
  - deploy

cache:
  paths:
    - vendor
    - node_modules

before_script:
  - cp .env.example .env

build:
  stage: build
  script:
    - sh develop composer install --no-dev --prefer-dist --optimize-autoloader --no-progress --no-interaction
    - rsync -avzrq $(pwd)/* $(pwd)/dist --exclude='.git/'
  artifacts:
    expire_in: 1 week
    paths:
      - dist/

deploy_to_staging:
  stage: deploy
  script:
    - tar -C dist -zcf artifact.tar.gz .
    - sh develop composer install --prefer-dist --no-progress --no-interaction --no-scripts
    - sh develop php bin/dep deploy staging -vv --dist=artifact.tar.gz
  environment:
    name: staging
    url: http://XXX.com
  only:
    - staging

deploy_to_production:
  stage: deploy
  script:
    - tar -C dist -zcf artifact.tar.gz .
    - sh develop composer install --prefer-dist --no-progress --no-interaction --no-scripts
    - sh develop php bin/dep deploy production -vv --dist=artifact.tar.gz
  environment:
    name: production
    url: http://XXX.com
  when: manual
  only:
    - master    
