DC=docker-compose
RUN=$(DC) run --rm
EXEC=$(DC) exec app
CONSOLE=bin/console
ARGUMENTS=$(filter-out $@,$(MAKECMDGOALS))

export HOST=$(ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1' | head -n1)
export DB_ROOT_PASS=${DB_ROOT_PASS:-secret}
export DB_NAME=${DB_NAME:-website}
export DB_USER=${DB_USER:-website}
export DB_PASS=${DB_PASS:-secret}


define comment
      @tput setaf 3
      @echo $1
      @tput sgr0
endef

define success
      @tput setaf 2
      @echo $1
      @tput sgr0
endef

define error
      @tput setaf 1
      @echo $1
      @tput sgr0
endef

define attention
      @tput setaf 1
      @tput bold 
      @echo $1
      @tput sgr0
endef

define domain 
app.$(shell basename $(shell pwd |  tr '[:upper:]' '[:lower:]') ).docker
endef